/* contact goes here */
@media (max-width: 1000px) {
  .pure-contact-form {
    padding: 2rem !important;
  }
  .cform_left > div {
    padding: 2rem !important;
  }
  .contact_cards_section {
    margin-top: 5rem;
  }
  .c_row3 {
    flex-direction: column;
  }
  .locationInputContainer {
    margin-left: 0rem !important;
    margin-top: 2.5rem;
  }
  .pure-contact-form {
    height: auto !important;
  }
  .pages_hero_wrapper {
    display: none;
  }
  .pages_hero_mobile_l > h1 {
    font-size: 4.8rem;
    font-weight: 700;
    color: var(--pure_F7);
    width: 90%;
    margin: auto;
  }
  .pages_hero_mobile_l > p {
    font-size: 1.8rem;
    font-weight: 400;
    width: 90%;
    color: var(--primary-text);
    margin: auto;
  }
  .hero__contact__mobile {
    display: block;
    padding-top: 15rem;
    padding-bottom: 5rem;
  }
  .contact_form {
    padding-top: 7.5rem !important;
    flex-direction: column;
  }
  .cform_left {
    width: 100%;
    height: auto !important;
  }
  .cform_left > div {
    padding-bottom: 8rem;
  }
  .cform_right {
    width: 100%;
  }
  .cform_right > section {
    width: 100%;
  }
  .cform_right {
    margin-top: 5rem;
  }
  #fname {
    width: 100%;
  }
  #lname {
    width: 100%;
  }
  #email {
    width: 100%;
  }
  #phone {
    width: 80%;
  }
  #message {
    width: 100%;
  }

  form > div {
    width: 100%;
  }
  .contactInputContainer {
    width: 100%;
  }
  .contactInputContainer > div {
    width: 100%;
  }
  .contactInputContainer > div > select {
    width: 19%;
  }
  .location-code {
    width: 100% !important;
  }
  .contact_btn {
    width: 100%;
  }
  .c-mobile-width {
    width: 90% !important;
  }
  .contact_cards_section {
    flex-wrap: wrap;
  }
  .contact_card {
    margin-top: 2.5rem;
    width: 49%;
  }
  .contact_card > a {
    width: 100%;
    display: inline-block;
  }
}
@media (max-width: 647px) {
  .contact_card {
    margin-top: 2.5rem;
    width: 100%;
  }
}
@media (max-width: 610px) {
  .pure-contact-form {
    padding: 2rem !important;
  }
  .cform_left > div {
    padding: 2rem !important;
  }
}
/* contact end here */

/* about goes */
/* 768 under media query */
@media (max-width: 1000px) {
  /* root */
  :root {
    letter-spacing: 0rem;
  }
  /* navbar goes */
  #desktop__navbar {
    display: none;
  }
  #mobile__navbar {
    display: block;
  }
  /* navbar end */

  /* annoncement */
  .annoucement_theme_switcher {
    display: none;
  }
  .annoucement-inner {
    justify-content: center;
  }
  /* annoucement end */

  .website_switcher_text {
    display: none;
  }

  .mobile-spacer {
    background-color: var(--mode-bg);
  }

  /* about goes here */
  /* .about__company_profile_section {
    padding-top: 0 !important;
  } */
  .hero__two {
    padding-top: 17rem;
  }
  .aboutcards_section {
    padding-bottom: 0;
  }
  .zigzag__card {
    padding-top: 0 !important;
    padding-bottom: 1rem !important;
    margin-top: 5rem;
  }
  .about__cta__section_wrapper {
    padding-top: 0rem;
    margin-top: 5rem;
  }
  .about__company_profile_section {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }
  /* .acp__left {
    width: 90%;
  } */
  /* .acp__left_row {
        flex-direction: column;
        height: auto;
        margin-top: 0;
      }
      .acp__left_row > img {
        border-radius: 1.6rem;
        width: 100%;
        margin-top: 2.5rem;
      } */
  .acp__left_row {
    flex-direction: row;
    height: auto;
    margin-top: 0;
  }
  .acp__left_row > img {
    border-radius: 1.6rem;
    width: 49%;
    margin-top: 2.5rem;
  }
  .acp__right {
    /* width: 90%; */
    height: auto;
    /* margin-top: 5rem; */
    padding: 2rem;
  }
  .acp_mobile_image {
    display: block;
  }
  .acp_desktop_image {
    display: none;
  }
  .hero__two > p {
    width: 90%;
  }
  .aboutcards_section {
    padding-top: 0;
    margin-top: 5.5rem;
  }
  .aboutcards_section > h1 {
    margin: auto;
    /* width: 90%; */
  }
  .aboutcards_section > section {
    flex-direction: column;
    align-items: center;
  }
  .aboutcards_section > section > .contact_card {
    margin-left: 0;
    /* width: 90% !important; */
    margin-top: 2.5rem;
  }
  .zigzag__card > div {
    /* flex-direction: column; */
    justify-content: center;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
  }
  .zinzag-image {
    width: 11rem !important;
    height: 11rem !important;
  }
  /* about end here */

  .page-width {
    width: 100%;
  }
  .about__cta__section {
    width: 90%;
    height: auto;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  /* about page */
  .zinzag-image {
    width: 15rem !important;
    height: 15rem !important;
  }
  .acp__left_row {
    flex-direction: row;
    height: auto;
    margin-top: 0;
  }
  .acp__left_row > img {
    border-radius: 1.6rem;
    width: 49%;
    margin-top: 2.5rem;
  }
  .hero__two > p {
    width: 50%;
  }
  .about__cta__section {
    width: 90%;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }
  /* about page end */
}

@media (max-width: 480px) {
  .about__cta__section {
    width: 90%;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    height: auto !important;
  }
  .about__cta__section h1 {
    line-height: 5rem;
  }
}
/* about end */

/* footer goes here */
@media (max-width: 1000px) {
  .footer-main {
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .footer-right {
    margin-top: 2.5rem;
    width: 61.7rem;
  }
  #newsletter {
    width: 80% !important;
  }
  .subfooter {
    display: flex !important;
    flex-direction: column-reverse !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .subfooter > p {
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 662px) {
  .footer-main {
    width: 90% !important;
    margin: auto;
    align-items: start;
  }
  .footer-link {
    margin-left: 1rem;
  }
  .first-footer-link {
    margin-left: 0;
  }
  .footer-right {
    width: 54.2rem;
  }
  #newsletter {
    width: 100% !important;
  }
  .subscribe_btn {
    margin-left: 0 !important;
    margin-top: 1rem;
  }
}
/* footer end here */
